#randomGame {
    font-family: monospace;
    width: max-content;
    /* centering */
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    border-radius: 2px;
    font-stretch: expanded;
    caret-color: transparent;
}

.inventoryContainer {
    display: flex;
    flex-direction:column;
    font-family: monospace;
    font-weight: bold;
    border: solid 2px black;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.inventoryTitle {
    font-size:26px;
    font-weight: bold;
    margin-bottom:0.5%
}

hr{
    border-top: solid 1px black;
    width: 100%;
}

.keyContainer {
    display: flex;
    justify-content: space-between;
    align-self:normal;
    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#randomGame:focus {
    caret-color: transparent;
    border-radius: 2px;
}

.seedDisplay{
    margin-left: 30%;
    font-size: 22px;
}

.button-shortcut {
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    font-weight: bold;
    justify-content: space-evenly;
}

#copySeed {
    font-size: 18px;
}

#pasteSeed {
    font-size: 18px;
}

#showHint {
    font-size: 18px;
}

#interact {
    font-size: 18px;
}

.col0 {
    color: rgb(237, 28, 36);
}

.col1 {
    color: rgb(255, 127, 39);
}

.col2 {
    color: rgb(255, 242, 0);
}

.col3 {
    color: rgb(128, 255, 0);
}

.col4 {
    color: rgb(0, 128, 0);
}

.col5 {
    color: rgb(63, 72, 204);
}

.col6 {
    color: rgb(153, 217, 234);
}

.col7 {
    color: rgb(163, 73, 164);
}

.col8 {
    color: rgb(255, 174, 201);
}

.col9 {
    color: rgb(200, 191, 231);
}