#randomGame {
    font-family: monospace;
    width: max-content;
    /* centering */
    margin-left: auto;
    margin-right: auto;
    border: dotted 2px black;
    border-radius: 2px;
    font-stretch: expanded;
    caret-color: transparent;
}

#randomGame:focus {
    caret-color: transparent;
    border-radius: 2px;
}

.button-shortcut {
    width:max-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.copySeed {}

.pasteSeed {}

.showHint {}

.interact {}